{% extends 'base.html' %}
{% block title %}Agendamentos{% endblock %}
{% block content %}
<h2><i class="fas fa-calendar"></i> Agendamentos de Coleta</h2>
<table class="table table-striped">
    <thead>
        <tr><th>Data Prevista</th><th>Lote</th><th>Transportadora</th></tr>
    </thead>
    <tbody>
        {% for agendamento in agendamentos %}
        <tr>
            <td>{{ agendamento.data_prevista }}</td>
            <td>{{ agendamento.lote_residuo.identificador_unico }}</td>
            <td>{{ agendamento.transportadora.nome }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}